@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kavoon&family=Quicksand:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700;900&display=swap');
$dark-color: rgb(18, 22, 25);
$light-color: rgb(255, 255, 250);
$main-color: rgb(247, 179, 43);
$accent-color:rgb(247, 44, 37);
