@import "./variables";
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x:hidden;
}

img {
  max-width: 100%;
  display: block;
}

.button {
  font-weight: 400;
  background-color: $main-color;
  font-size: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px $main-color;
  padding: 0.3rem 1rem;
  border:none;
  &:hover {
    opacity: 0.65;
    transition: all 0.15s ease-out;
  }
}