@import "./variables";
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: $light-color;
  padding: 1rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  font-family: "Source Sans Pro", sans-serif;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $dark-color;
    &:hover {
      opacity: 0.85;
      transition: all 0.15s ease-out;
    }
  }

  // Desktop
  .nav-menu {
    padding: 0.5rem;
    align-items: center;
    display: none;
    @media (min-width: 600px) {
      display: flex;
    }
    li {
      margin-right: 1rem;
      .login-button-desktop,
      .register-button-desktop {
        font-weight: 400;
        background-color: $main-color;
        font-size: 1rem;
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px $main-color;
        padding: 0.3rem 1rem;
      }
      .favorite-recipe-desktop {
        font-weight: 400;
        background-color: $lighter-accent-color;
        font-size: 1rem;
        border-radius: 0.3rem;
        display: flex;
        justify-content: center;
        color: $light-color;
        align-items: center;
        box-shadow: 0px 0px 3px $lighter-accent-color;
        padding: 0.3rem 1rem;
        span {
          padding-top: 0.1rem;
        }
      }
    }
  }

  .logo {
    color: $main-color;
    font-size: 1.45rem;
    font-weight: 700;
    @media (min-width: 800px) {
      display: flex;
      font-size: 1.8rem;
    }
    &:hover {
      opacity: 0.65;
      transition: all 0.15s ease-out;
    }
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;

    button {
      background-color: transparent;
      border: none;
      font-size: 1.55rem;
      color: $dark-color;
    }

    .hamburger-menu-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30% 1fr 1fr;
      position: absolute;
      left: 0;
      top: 4rem;
      text-align: right;
      width: 100%;
      background-color: $light-color;
      padding-top: 0.7rem;

      > * a {
        color: $dark-color;
      }

      li:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
      }

      li:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
      }

      li:nth-child(3) {
        grid-row: 2/3;
        grid-column: 1/3;
      }

      input {
        grid-column: 1/3;
      }
    }
    @media (min-width: 600px) {
      display: none;
    }
  }
  .login-button,
  .register-button {
    font-weight: 400;
    background-color: $main-color;
    font-size: 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px $main-color;
    width: 90%;
  }
  .favorite-recipe {
    background: $lighter-accent-color;
    color: $light-color !important;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px $lighter-accent-color;
    margin: 0.5rem auto;
    padding: 0.3rem 0;
    width: 95%;
  }

  span {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}
