@import "./variables";

main {
  margin-left: 2rem;
  margin-top: 0.5rem;
  h1 {
    font-size: 2.25rem;
  }

  header {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.15rem;
      margin-left: 0.5rem;
    }

    .rating {
      font-weight: 700;
    }

    .number-of-rating {
      margin-left: 0;
    }
    .rating-preview-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .favorite-button,
  .back-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    color: $light-color;
  }
  .favorite-button {
    background: $lighter-accent-color;
    box-shadow: 0px 0px 5px $lighter-accent-color;
  }
}


section {
  margin-left: 2rem;
  h2 {
    font-size: 1.75rem;
  }
}


.img-ingredients {
  margin-top: 2rem;
  width: 100%;
  display: flex;

  img {
    width: 500px;
  }

  .ingredients {
    margin-left: 6rem;
    h2 {
      font-size: 1.75rem;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
    .ingredients {
      margin-left: 0;
    }
  }
}

.steps {
  margin-top: 1rem;
}

.back-button {
  margin-left: 2rem;
}
